<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.1.0-SNAPSHOT" package="com.joelcastro.introduccionandroid">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application android:name="com.joelcastro.introduccionandroid.ecoparque" android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="ecoparque" android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyC7MUY1LdoMLaUpwylhcujQgOIZDUHzJUM"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:label="@string/app_title" android:name=".activities.LoginActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_title" android:name=".activities.UserTypeActivity_" android:parentActivityName=".activities.LoginActivity_">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="activities.MainActivity_"/>
        </activity>
        <activity android:label="@string/app_title" android:name=".activities.CompanyDataActivity_" android:parentActivityName="activities.UserTypeActivity_">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="activities.UserTypeActivity_"/>
        </activity>
        <activity android:label="@string/app_title" android:name=".activities.TypeAndQuantityActivity_">
        </activity>
        <activity android:label="@string/app_title" android:name=".activities.ResultsActivity_">
        </activity>
        <activity android:label="@string/app_title" android:name=".activities.EcoparqueListActivity_" android:parentActivityName=".activities.LoginActivity_">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.joelcastro.introduccionandroid.activities.MainActivity_"/>
        </activity>
        <activity android:label="@string/app_title" android:name=".activities.InfoDomActivity_" android:parentActivityName="com.joelcastro.introduccionandroid.activities.CompanyDataActivity_">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.joelcastro.introduccionandroid.activities.CompanyDataActivity_"/>
        </activity>
        <activity android:label="@string/app_title" android:name=".activities.DepositoMenuActivity_" android:parentActivityName="com.joelcastro.introduccionandroid.activities.EcoparqueListActivity_">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.joelcastro.introduccionandroid.activities.EcoparqueListActivity_"/>
        </activity>
        <activity android:label="@string/app_title" android:name=".activities.DepositoListActivity_" android:parentActivityName="com.joelcastro.introduccionandroid.activities.DepositoMenuActivity_">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.joelcastro.introduccionandroid.activities.DepositoMenuActivity_"/>
        </activity>



    </application>

</manifest>